const
  DEV = 0;

var
CFG = {
  URL: {
    ROOT      : 'http://app.distill.local',
    API       : 'http://api.distill.local/v1',
    BROADCAST : 'http://broadcast.distill.local',
    STATIC    : 'http://app.distill.local/static_files',
    ER        : 'http://reporter.distillweb.net',
    WEBSITE   : 'http://distill.local',
    ANALYTICS : 'http://analytics.distill.local'
  },
  SIGNAL: {
    WS_URL: 'signalling-server.distill.local',
    WS_PORT: 9000,
    SECURE: false,
  },
  VERSION: "1.12.7",
};
